.git
.gitignore
node_modules
.svelte-kit
dist
server/web/node_modules
server/web/.svelte-kit
server/web/dist
.DS_Store
*.md
docs/
.github/
.nix/
.gitattributes
.flake.lock
flake.nix
.golangci.toml
.goreleaser.yml
manage.sh
hister
*.sqlite
*.sqlite3
docker-compose.override.yml
