baseURL = 'https://hister.org/'
languageCode = 'en-us'
title = 'Hister - Web History on Steroids'
theme = 'hister'
[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10
  [[menus.main]]
    name = 'Documentation'
    pageRef = '/documentation'
    weight = 20
  [[menus.main]]
    name = 'Posts'
    pageRef = '/posts'
    weight = 30
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xhtml = false
