name: Release binaries

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 'stable'

      - name: Install cross-compilers
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu gcc-x86-64-linux-gnu mingw-w64

      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: git config --global --add safe.directory "$(pwd)"

      # We use 'build --snapshot' because GoReleaser won't let us "release" without a valid SemVer tag
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v7.0.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean ${{ matrix.os == 'ubuntu-latest' && '--id=build_cgo_unix --id=build_cgo_windows' || '--id=build_cgo_darwin' }}

      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: hister
          path: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
