name: Release binaries

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    if: github.repository == 'asciimoo/hister'
    name: GoReleaser build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 'stable'

      - name: Install cross-compilers
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu gcc-x86-64-linux-gnu mingw-w64

        # Mark the checkout as 'safe' despite being owned by `root`
      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: git config --global --add safe.directory "$(pwd)"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@master
        with:
          version: latest
          args: release --clean
          workdir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}

      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: hister
          path: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
